@import "tailwindcss";
@import 'tailwind-animations';

:root {
    --color-brand-blue: #1E3A8A;
    --color-text-main: #0F172A;
    --color-action-whatsapp: #25D366;
    --color-accent-yellow: #FFC107;
    --color-urgency-red:#DC2626;
    --color-bg-white: #FFFFFF;
    --color-bg-gray: #F3F4F6;
}