<header class="flex flex-row justify-between">
    <div>
        <span>Goherlu Logo</span>
    </div>
    <div>
        <a href="tel:+34600000000">Llamar ahora</a>
    </div>
</header>

<style>
    header {
        background: var(--color-bg-gray);
    }
</style>