---
// HeaderMobile.astro
import CallNowButton from "./CallNowButton.astro";---
<header class=" top-0 z-1 w-full">
    <div class="flex justify-between items-center px-4 py-3">

        <!-- Logo -->
        <div class="flex-shrink-0">
            <span class="text-xl font-bold">LOGO</span>
        </div>

        <!--
       <CallNowButton />
        -->
    </div>
</header>
