---
import infoSquare from "../assets/infoSquare.svg"
import whatsapp from "../assets/whatsapp.svg"
import RequestAQuoteButton from "./RequestAQuoteButton.astro";
import WhatsappContactButton from "./WhatsappContactButton.astro";
import OurServices from "./OurServices.astro";
import Spacer from "./Spacer.astro";
import ReasonsToChooseUs from "./ReasonsToChooseUs.astro";
import FinalCallToAction from "./FinalCallToAction.astro";
import Benefits from "./Benefits.astro";
import CallNowButton from "./CallNowButton.astro";
import Testimonial from "./Testimonial.astro";
import TrustAndAction from "./TrustAndAction.astro";
import HeaderTitle from "./HeaderTitle.astro";
import Testimonials from "./Testimonials.astro";
import CTARequestAQuoteButton from "./CTARequestAQuoteButton.astro";
---

<main class="flex flex-col w-full py-16">
        <div class="sm:px-8 md:px-16 lg:px-32 xl:px-64 2xl:px-128">
                <HeaderTitle />
                <CallNowButton />
                <CTARequestAQuoteButton />
                <Testimonials />
        </div>
        <div>
                <TrustAndAction />
        </div>
</main>

<style>
    main > div {
        padding-top: 5rem;
    }
</style>