<a id="gmailbtn" href="mailto:info@electricidadgoherlu.com"
   class="font-extrabold py-3 px-6 rounded-xl text-center shadow-lg active:scale-[0.98] transition-all text-md tracking-wide">

    <span>SOLICITA TU PRESUPUESTO</span>

</a>

<style>
    a#gmailbtn {
        background-color: var(--color-urgency-red);
        color: white;
    }
</style>