---
import Testimonial from "./Testimonial.astro";
---
<section class="py-16 flex flex-col gap-3 px-4">
    <Testimonial
            name="Iker Etxebarria"
            role="Construcciones Arana"
            quote="Excelente servicio. Vinieron rápido, diagnosticaron el problema y lo solucionaron en el mismo día. Muy profesionales y atentos."
    />
    <Testimonial
            name="Jon Garitano"
            role="Talleres Mendizabal"
            quote="Llevamos años trabajando con ellos para el mantenimiento de nuestras instalaciones. Siempre disponibles y resolutivos."
    />
    <Testimonial
            name="Amaia Zubieta"
            role="Hostal Txoko"
            quote="Hicieron toda la instalación eléctrica de nuestro nuevo local. Trabajo impecable, cumplieron los plazos y el precio fue muy ajustado."
    />
    <Testimonial
            name="Leire Aranburu"
            role="Particular"
            quote="Reformaron toda la instalación eléctrica de mi casa. Muy contentos con el resultado, ahora todo funciona perfectamente."
    />
</section>