---
import whatsapp from "../assets/whatsapp.svg"
---
<a id="whatsappbtn" href="https://wa.me/600000000" class="font-extrabold py-3 px-6 rounded-xl text-center shadow-lg active:scale-[0.98] transition-all text-md tracking-wide">
    <span>CONTACTA POR WHATSAPP</span>
</a>


<style>
    a#whatsappbtn {
        background: var(--color-action-whatsapp);
        color: var(--color-bg-white);
    }
</style>