---
	import "../styles/global.css"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Electricidad Goherlu</title>
		<meta name="description" content = "Electricidad Goherlu. Soluciones eléctricas seguras y eficaces"/>
		<meta name="author" content = "Electricidad Goherlu"/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		background: var(--color-bg-white);
	}
</style>
